// Variables
$color-texto: yellow;

$color-fondo: black; // Color de fondo
$color-borde: yellow; // Color del borde
$color-fuente: Arial, Helvetica, sans-serif; // Fuente
$color-botones: black; // Color de fondo de los botones

$color-boxshadow: yellow;

$border-botones: yellow;

$sombra: yellow;

@mixin makeHeaderContraste {

  body {
    background-color: $color-fondo;

    header {

      .logo {
        color: $color-texto;
      }

      nav {

        ul {

          li {
            color: $color-texto;
          }
        }
      }
    }
  }
}

@mixin contenidoCardsContraste {

  .content {

    aside .sidebar {

      .title {
        color: $color-texto;
        border-bottom: 1px solid $color-borde;
      }

      ul {

        li {

          button {
            background-color: $color-botones;
            color: $border-botones;
            box-shadow: 0 2px 4px $color-boxshadow; // Estilo de sombra de caja
          }
        }
      }
    }

    .container {

      .card {
        color: $color-texto;
        border: 1px solid $color-borde;

        p {
          text-shadow: $sombra, 2px, 2px, 4px;
        }
      }
    }
  }

}

@mixin makeFooterContraste {
  footer h1 {
    color: $color-texto;
  }
}