// Variables
$color-texto: rgb(0, 0, 0);

$color-fondo: rgba(255, 255, 255, 0.461);        // Color de fondo
$color-borde: #000000;         // Color del borde
$color-fuente: Arial, Helvetica, sans-serif; // Fuente
$color-botones: rgba(0, 0, 0, 0.394);  // Color de fondo de los botones

$color-boxshadow: rgba(140, 0, 255, 0.652);

$border-botones: rgba(140, 0, 255, 0.652);

$sombra: #7b00ff8d;
