body {
    margin: 0 auto;
    text-align: center;
}

.layout{
    margin: 0 auto;
    text-align: center;
    display: grid;
    height: 650px;
    width: 700px;
    /*número columnas*/
    grid-template-columns: repeat(3, 1fr);
    /*número filas*/
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "amarilla1 naranja1 naranja1"
    "amarilla1 amarilla2 naranja2"
    "roja1 roja1 roja1"
    "verde1 roja2 verde2"
    "verde1 roja2 verde2"
    "azul1 azul1 azul1";
}

.amarilla1 {
    grid-area: amarilla1;
    background-color: yellow;
}

.amarilla2 {
    grid-area: amarilla2;
    background-color: yellow;
}

.naranja1 {
    grid-area: naranja1;
    background-color: orange;
}

.naranja2 {
    grid-area: naranja2;
    background-color: orange;
}

.roja1 {
    grid-area: roja1;
    background-color: red;
}

.roja2 {
    grid-area: roja2;
    background-color: red;
}

.roja3 {
    grid-area: roja3;
    background-color: red;
}

.verde1 {
    grid-area: verde1;
    background-color: green;
}

.verde2 {
    grid-area: verde2;
    background-color: green;
}

.azul1 {
    grid-area: azul1;
    background-color: blue;
}
