/* Error: Undefined mixin.
 *     ,
 * 128 |   @include boxShadow(0, 2px, 4px);
 *     |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   sass-styles.scss 128:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 128 \2502    @include boxShadow(0, 2px, 4px);\d\a     \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   sass-styles.scss 128:3  root stylesheet";
}
